# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftEventoModel/nbproject/private/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftEventoModel/build/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftGestReservaModel/nbproject/private/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftRRHHModel/nbproject/private/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftVentasModel/nbproject/private/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftRRHHModel/dist/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftRRHHModel/build/
/ProyectoLP2_v3_PARAPETERRR-20240416T141730Z-001/ProyectoLP2_v3_PARAPETERRR/SoftEventoModel/dist/
